body {
  margin: 0;
  font-family: sans-serif;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  font-size: 4vw;
  color: white;
}

#section1 {
  background: #1EAAC1;
  background: -webkit-linear-gradient(to right, #DEE8CE, #1EAAC1);
  background: linear-gradient(to right, #DEE8CE, #1EAAC1);
}

#section2 {
  background: #C5796D;
  background: -webkit-linear-gradient(to right, #DBE6F6, #C5796D);
  background: linear-gradient(to right, #DBE6F6, #C5796D);
}

#section3 {
  background: #3494E6;
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
  background: linear-gradient(to right, #EC6EAD, #3494E6);
}

#section4 {
  background: #F3904F;
  background: -webkit-linear-gradient(to right, #3B4371, #F3904F);
  background: linear-gradient(to right, #3B4371, #F3904F);
}
